html
{
    height: 100%;
}

body
{
    min-height: 100%;
}

#top-navbar
{
    margin: 30px 0px;
}

#link-shortener
{
    margin: 70px 0px;
}

#link-form
{
    margin: 50px 20px;
}

#result
{
    min-width: 200px;
    max-width: 420px;
    margin: 0 auto;
    padding: 10px;
    background-color: #2366d1;
    border: 5px solid #5bc0de;
    color: #0a0a0a;
    box-sizing: border-box;
    color: whitesmoke;
    display: none;
}

#shorten_link_result
{
    font-weight: bold;
    font-size: 20px;
}

#shorten_link_result > a
{
    color: whitesmoke;
}
